@use 'variables' as *;

:host {
  width: 100%;
  background: $primary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: #00bcd4;
    }
  }
}

.header__item--dropdown {
  cursor: pointer;

  .dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #2b2b2b;
    padding: 10px 0;
    list-style: none;
    margin: 0;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    li {
      padding: 5px 20px;

      .header__link {
        display: block;
        color: white;
        text-decoration: none;

        &:hover {
          color: #00bcd4;
        }
      }
    }
  }

  &:hover .dropdown__menu {
    display: block;
  }
}

.icon {
  color: aliceblue;
  font-size: 30px;
}
