<div class="events-container">
  <h2>Мероприятия</h2>

  @if (loading) {
    <div>Загрузка...</div>
  }

  @if (error) {
    <div class="error">
      {{ error }}
    </div>
  }

  @if (!loading && events.length === 0) {
    <div>
      Нет мероприятий
    </div>
  }

  @for (event of events; track event.eventId) {
    <div class="event-card">
      <h3>{{ event.name }}</h3>


      <div class="meta">
        <span>📅 {{ event.date | date:'short' }}</span>
        <span>📍 {{ event.place }}</span>
      </div>
    </div>
  }

</div>
