@use 'variables' as *;

:host {
  display: flex;
  flex: 1;
}

.search-input {
  border: 2px solid $primary-color;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  user-select: none;
  width: 100%;
  color: $dark-color;
  outline: none;
  font-size: 16px;
}

.search-button {
  border: 2px solid $primary-color;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: $primary-color;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;

  cursor: pointer;
}
