:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.options-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.filter {
  min-width: 200px;
}

.students-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
