@use 'variables' as *;

.without__photo-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $dark-color;
    padding: 10px;
}

.student__photo-container {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $dark-color;
}

.photo {
    width: 100%;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.students__name {
    font-weight: bold;
}

.students__group {
    font-size: 12px;
    font-weight: 400;
}
