body {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.section {
  max-width: 1920px;
  padding: 0 10px;
  width: 100%;
}
